@model IEnumerable<sql_deneme.Models.Customer>

<h1>Customers</h1>
<p>
    <a asp-controller="Customers" asp-action="Create" class="btn btn-primary">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>CustomerId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>
                    <a asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.CustomerId" class="btn btn-primary">Edit</a>
                    <a asp-controller="Customers" asp-action="Details" asp-route-id="@customer.CustomerId" class="btn btn-info">Details</a>
                    <a asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.CustomerId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
