@model IEnumerable<sql_deneme.Models.Supplier>


<h1>Suppliers</h1>
<p>
    <a asp-controller="Suppliers" asp-action="Create" class="btn btn-primary">Create New Supplier</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>SupplierId</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierId</td>
                <td>@supplier.CompanyName</td>
                <td>@supplier.ContactName</td>
                <td>@supplier.ContactTitle</td>
                <td>@supplier.Email</td>
                <td>@supplier.PhoneNumber</td>
                <td>
                    <a asp-controller="Suppliers" asp-action="Edit" asp-route-id="@supplier.SupplierId" class="btn btn-primary">Edit</a>
                    <a asp-controller="Suppliers" asp-action="Details" asp-route-id="@supplier.SupplierId" class="btn btn-info">Details</a>
                    <a asp-controller="Suppliers" asp-action="Delete" asp-route-id="@supplier.SupplierId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
